<div class="row">
  <div class="col-xs-1">
    <button mat-raised-button
      color="primary"
      (click)="onAddUser()">Add User</button>
    <!-- <button class="btn btn-primary"
      (click)="onAddUser()">Add User</button> -->
  </div>
  <div class="col-xs-9">
    <app-search-user></app-search-user>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <!-- <ul class="list-group"
      [@listAnimation]="users.length">
      <a class="list-group-item"
        style="cursor: pointer"
        *ngFor="let user of users"
        [routerLink]="user.id"
        routerLinkActive="active">
        {{ user.name }}
      </a>
    </ul> -->
    <div [@listAnimation]="users.length">
      <div id="list"
        *ngFor="let user of users"
        [routerLink]="user.id"
        routerLinkActive="active">
        {{ user.name }}
      </div>
    </div>
  </div>
  <!-- <ng-template [ngIf]="!(userListState$ | async).error != null">
    <span class="help-block">{{ (userListState$ | async).error }}</span>
  </ng-template> -->