#list {
    padding: 1em;
    display: block;
    background: #BED8E8;
    /* color: white; */
    margin-bottom: 10px;
    cursor: pointer;
}

#list:hover {
    background: #DAB2E8;
}

#list:active {
  transform: translateY(4px);
}

#list:focus {
    outline: none;
}