<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
            type="submit"
            [disabled]="form.invalid">
            Update
          </button>
          <button class="btn btn-danger"
            type="button"
            (click)="onDelete()">
            Delete
          </button>
          <button type="button"
            class="btn btn-primary"
            (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <hr>
      <div ngModelGroup="userDataGroup"
        #userData="ngModelGroup">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                id="name"
                name="name"
                [(ngModel)]="user.name"
                required
                #name="ngModel"
                class="form-control">
              <span class="help-block"
                *ngIf="name.invalid && name.touched">
                Name is required
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text"
                id="email"
                name="email"
                [(ngModel)]="user.email"
                required
                email
                #email="ngModel"
                class="form-control">
              <ng-container *ngIf="email.invalid && email.touched">
                <span class="help-block"
                  *ngIf="email.hasError('email')">
                  Invalid email format
                </span>
                <span class="help-block"
                  *ngIf="email.hasError('required')">
                  Email is required
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="city">City</label>
              <input type="text"
                id="city"
                name="city"
                [(ngModel)]="user.address.city"
                required
                #city="ngModel"
                class="form-control">
              <span class="help-block"
                *ngIf="city.invalid && city.touched">
                City is required
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Posts</label>
            <button type="button"
              class="btn btn-default pull-right"
              (click)="onNewPost()">
              Add
            </button>
          </div>
          <ng-template ngFor
            let-post
            let-i="index"
            let-c="count"
            [ngForOf]="newPosts">
            <div class="row"
              [ngModelGroup]="post.id"
              #postData="ngModelGroup">
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text"
                    name="title"
                    [(ngModel)]="post.title"
                    required
                    placeholder="title"
                    class="form-control">
                </div>
              </div>
              <div class="col-md-7">
                <div class="input-group">
                  <input type="text"
                    name="body"
                    [(ngModel)]="post.body"
                    required
                    placeholder="body"
                    class="form-control input-group-text">
                  <span class="input-group-btn"
                    style="padding-left: 15px;">
                    <button type="button"
                      class="btn btn-default"
                      (click)="onRemovePost(post.id)">
                      <span class="glyphicon glyphicon-minus-sign"></span>
                    </button>
                  </span>
                  <span class="input-group-btn">
                    <button type="button"
                      class="btn btn-default"
                      (click)="onAddPost(post.title, post.body, i)"
                      [disabled]="postData.invalid">
                      <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
          <div class="list-group">
            <a *ngFor="let post of posts; let i = index"
              class="list-group-item"
              [ngClass]="{'active': selectedPostIndex === i}"
              style="cursor: pointer"
              (click)="selectPost(i)"
              [@list]>
              <span> {{ post.title }} <button type="button"
                  class="close"
                  (click)="onDeletePost(post.id)">
                  <span style="color: red;">&times;</span>
                </button></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Tasks</label>
            <button type="button"
              class="btn btn-default pull-right"
              (click)="onNewTask()">
              Add
            </button>
          </div>
          <ng-template ngFor
            let-task
            let-i="index"
            let-c="count"
            [ngForOf]="newTasks">
            <div class="row"
              [ngModelGroup]="task.id"
              #taskData="ngModelGroup">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <!-- <input type="text"
                      name="title"
                      [(ngModel)]="task.title"
                      required
                      placeholder="title"
                      class="form-control"> -->
                    <!-- <span class="input-group-addon">
                      <input type="checkbox"
                        name="completed"
                        [(ngModel)]="task.completed"
                        class="">
                    </span> -->
                    <input type="text"
                      name="title"
                      [(ngModel)]="task.title"
                      required
                      placeholder="title"
                      class="form-control">
                    <input type="checkbox"
                      id="{{ task.id }}"
                      name="completed"
                      [(ngModel)]="task.completed">
                    <div class="input-group-btn">
                      <label for="{{ task.id }}"
                        class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"
                          [ngStyle]="{'display': task.completed ? 'inline-block' : 'none'}"></span>
                        <span [ngStyle]="{'display': !task.completed ? 'inline-block' : 'none'}">&nbsp;</span>
                      </label>
                    </div>
                    <span class="input-group-btn"
                      style="padding-left: 15px;">
                      <button type="button"
                        class="btn btn-default"
                        (click)="onRemoveTask(task.id)">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                      </button>
                    </span>
                    <span class="input-group-btn">
                      <button type="button"
                        class="btn btn-default"
                        (click)="onAddTask(task.title, task.completed, i)"
                        [disabled]="taskData.invalid">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <div class="list-group"></div>
          <a *ngFor="let task of tasks; let i = index"
            class="list-group-item"
            [ngClass]="{'active': selectedTaskIndex === i}"
            style="cursor: pointer"
            (click)="selectTask(i)"
            [@list]>
            <span> {{ task.title }} <button type="button"
                class="close"
                (click)="onDeleteTask(task.id)">
                <span style="color: red;">&times;</span>
              </button></span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>