<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
            type="submit"
            [disabled]="form.invalid">
            Update
          </button>
          <button class="btn btn-danger"
            type="button"
            (click)="onDelete()">
            Delete
          </button>
          <button type="button"
            class="btn btn-primary"
            (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <hr>
      <div ngModelGroup="userDataGroup"
        #userData="ngModelGroup">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                id="name"
                name="name"
                [(ngModel)]="user.name"
                required
                #name="ngModel"
                class="form-control">
              <span class="help-block"
                *ngIf="name.invalid && name.touched">
                Name is required
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text"
                id="email"
                name="email"
                [(ngModel)]="user.email"
                required
                email
                #email="ngModel"
                class="form-control">
              <ng-container *ngIf="email.invalid && email.touched">
                <span class="help-block"
                  *ngIf="email.hasError('email')">
                  Invalid email format
                </span>
                <span class="help-block"
                  *ngIf="email.hasError('required')">
                  Email is required
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="city">City</label>
              <input type="text"
                id="city"
                name="city"
                [(ngModel)]="user.address.city"
                required
                #city="ngModel"
                class="form-control">
              <span class="help-block"
                *ngIf="city.invalid && city.touched">
                City is required
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Posts</label>
            <button type="button"
              class="btn btn-default pull-right"
              (click)="onNewPost()">
              Add
            </button>
          </div>
          <ng-template [ngIf]="isAddPost">
            <div class="row"
              ngModelGroup="postData"
              #postData="ngModelGroup">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="title">title</label>
                  <input type="text"
                    id="title"
                    name="title"
                    ngModel
                    #title="ngModel"
                    required
                    class="form-control">
                  <!-- <span class="help-block"
                    *ngIf="title.invalid && title.touched">
                    Title is required
                  </span> -->
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="body">body</label>
                  <div class="input-group">
                    <input type="text"
                      id="body"
                      name="body"
                      required
                      ngModel
                      #body="ngModel"
                      class="form-control">
                    <!-- <span class="help-block"
                      *ngIf="body.invalid && body.touched">
                      Body is required
                    </span> -->
                    <span class="input-group-btn">
                      <button type="button"
                        class="btn btn-default pull-right"
                        (click)="onRemovePost()">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                      </button>
                    </span>
                    <span class="input-group-btn">
                      <button type="button"
                        class="btn btn-default pull-right"
                        (click)="onAddPost(postData.value.title, postData.value.body)"
                        [disabled]="postData.invalid">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <div class="list-group">
            <a *ngFor="let post of posts; let i = index"
              class="list-group-item"
              [ngClass]="{'active': selectedPostIndex === i}"
              style="cursor: pointer"
              (click)="selectPost(i)"
              [@list]>
              <span> {{ post.title }} <button type="button"
                  class="close"
                  (click)="onDeletePost(post.id)">
                  <span style="color: red;">&times;</span>
                </button></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Tasks</label>
            <a *ngFor="let task of tasks; let i = index"
              class="list-group-item"
              [ngClass]="{'active': selectedTaskIndex === i}"
              style="cursor: pointer"
              (click)="selectTask(i)"
              [@list]>
              <span> {{ task.title }} <button type="button"
                  class="close"
                  (click)="onDeleteTask(task.id)">
                  <span style="color: red;">&times;</span>
                </button></span>
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>