<input class="form-control"
  id="myInput"
  type="number"
  [(ngModel)]="filter"
  placeholder="Filter by UserId"
  (input)="onInput()">
<br>
<table class="table"
  [@table]>
  <thead>
    <tr>
      <th class="col-md-1">Post Id</th>
      <th class="col-md-1">User Id</th>
      <th class="col-md-1">User Name</th>
      <th class="col-md-4">Title</th>
      <th class="col-md-5">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of filteredPosts">
      <td>{{ post.id }}</td>
      <td>{{ post.userId }}</td>
      <td>{{ post.UserName }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </tbody>
</table>